@media (max-width: 1280px) {
    body{
        background-color: green;
    }
}
@media (max-width: 600px) {
    body{
        background-color: indigo;
    }
}

h1{
    border-bottom: 1px solid black;
}

span{
    padding: 10px;
}